.search-history-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.search-history-container:last-child {
  border-bottom: 1px solid #ccc;
}

.location-time-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.history-item-buttons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Media Query for screens below 660px */
@media (max-width: 660px) {
  .search-history-container {
    flex-direction: column;
    align-items: center;
  }

  .location-time-container {
    gap: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    text-align: center;
  }

  .location-text{
    font-weight: 700;
  }
}
