.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
  }

  /* only give a bottom border for the last child to prevent overlap */
  .container:last-child {
    border-bottom:  1px solid #ccc; 
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 10px;
  }