.search-result-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .weather-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .weather-info img {
    margin-right: 10px;
  }
  
  .main {
    font-size: 24px;
    font-weight: bold;
  }
  
  .city-country {
    font-size: 18px;
  }
  
  .description,
  .temperature,
  .humidity,
  .time {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .description {
    color: #666;
  }
  