/* Styles for the container holding the input fields */
.weather-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.weather-input-container > :first-child {
  flex: 1;
}
.weather-display-container{
  height: 250px;
}

.error-container {
  background-color: #ffc0c0; 
  border: 1px solid #e74c3c; 
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px; 
  color: #e74c3c; 
}

.search-history-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-records {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px; /* Add padding on top */
  height: 100%; /* Expand to full height of the parent container */
}

.no-records-text {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
}
